 #J_warpMenu{display: none;}

.breadcrumbs,.sort h3,.sort dl dt a,.sort dl dt span,.sort dl dd a,.sort dl dd span,.Toplist .Ttitle,.productsreach dl dd a,.productsreach dl dd #rankmenu a,.productsreach dl dd .iconsreach a{background:url(../images/commodityList/listbg.gif) no-repeat;}

.productsreach{margin:30px 0 0 0;padding:5px 10px;background:#f6f6f6;height:24px;font-size:12px;border:1px #ccc solid}

.productsreach a{color:#666}

.productsreach dl{line-height:22px;margin:0 40px 0 0;display:inline;}

.productsreach dd{margin:0}

.productsreach dl,.productsreach dl dt,.productsreach dl dd{float:left;}

.productsreach dl dd a{display:block;float:left;line-height:20px;padding:0 0 0 20px;margin:0 5px;display:inline;}

.productsreach dl dd a#imgicon{background-position:0 -148px;}

.productsreach dl dd a#imgicon.current{background-position:0 -115px;}

.productsreach dl dd a#listicon{background-position:0 -214px;}

.productsreach dl dd a#listicon.current{background-position:0 -181px;}

.productsreach dl dd #rankmenu{float:left;margin:2px 0 0 0;height:19px;position:relative;}

.productsreach dl dd #rankmenu a{height:19px;line-height:19px;display:block;float:left;width:94px;padding:0 0 0 3px;margin:0;background-position:0 -308px;}

.productsreach dl dd #rankmenu ul{border-left:solid 1px #cfcfcf;border-right:solid 1px #cfcfcf;border-bottom:solid 1px #cfcfcf;background:#fff;position:absolute;top:19px;left:0;z-index:99;width:95px;display:none;}

.cf:after {

content: ".";

display: block;

height: 0;

clear: both;

visibility: hidden;

}

.productsreach dl dd #rankmenu.current ul{display:block;}

.productsreach dl dd #rankmenu li{float:left;}

.productsreach dl dd #rankmenu li a{background:none;width:92px;}

.productsreach dl dd .iconsreach{float:left;margin:2px 0 0 24px;display:inline;}

.productsreach dl dd .iconsreach a{height:17px;line-height:999em;overflow:hidden;display:block;float:left;width:28px;border:solid 1px #cfcfcf;margin:0 1px;}

.productsreach dl dd .iconsreach a.current{border:solid 1px #990000;}

.productsreach dl dd .iconsreach a#price{background-position:-1px -252px;}

.productsreach dl dd .iconsreach a#sales{background-position:-1px -271px;}

.productsreach dl dd .iconsreach a#discuss{background-position:-1px -290px;}

.productsreach dl.last{margin:0;float:right;}

.productsreach dl.last dd input{margin:4px 0 0 6px;*margin:0 0 0 6px;float:left;display:inline;}

.productsreach dl.last dd label{margin:0 0 0 4px;float:left;display:inline;cursor:pointer;}

.list-right { width:98%; background:#FFF; padding:1%; overflow:hidden }

.list-right .title { height:25px; line-height:25px; border-bottom:1px solid #CCC }

.list-right ul { padding:10px 0; width:100%; }

.list-right ul li { width:289px; height:auto; float:left; margin:10px 10px 0; }

.list-right ul li img { width:275px; height:275px; padding:7px; }

.list-right ul li:hover { box-shadow: 0 0 15px #cccccc; -webkit-box-shadow: 0 0 15px #cccccc; -moz-box-shadow: 0 0 15px #cccccc; -webkit-transition:.25s linear .1s;

transition:.25s linear .1s;

-moz-transition: .25s linear .1s;

}

.list-right ul li p { text-align:center; font-size:14px; color:#333; height:44px }

.list-right ul li p a{color:#666;font-family: 'Microsoft Yahei', 微软雅黑, Tahoma, Verdana, Arial, Helvetica, sans-serif;}

.list-right ul li span { display:block; text-align:center; color:#999; font-size:14px; }
/*产品列表*/
.new-product-block {
	width:1200px;
	height:auto;
	overflow:hidden;
	margin:0 auto
}
.new-product-block li{
	float:left;
	width:278px;
	height:auto;
	overflow:hidden;margin-right: 15px;margin-top: 20px;
}
.new-product-block .product-grid li .pro-img {
	display:block;
	height:auto;
	overflow:hidden;
	position:relative;
}
.new-product-block .product-grid li .pro-img .time{width:258px;height:30px;text-align:center;line-height:30px;background:url(../images/time.png); position:absolute;top:5px;left:5px;z-index:999;color:#fff;font-size:12px}
.new-product-block .product-grid li .pro-img img {
	width:100%;height: auto;
}
.new-product-block .product-grid li .pro-content {
	float:left;
	width:100%;
	color:#333;
	position:relative
}
.new-product-block .product-grid li .pro-content .qianggou{width:51px;height:62px;background:url(../images/qg.jpg) no-repeat; position:absolute;top:0;right:20px}
.new-product-block .product-grid li .pro-content .qianggou a{width:51px;height:62px;display:block}
.new-product-block .product-grid li .pro-content p {
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	height: 40px;
	overflow: hidden;margin-bottom: 10px;
}
.new-product-block .product-grid li .pro-content p a{color: #3d3d3d}
.new-product-block .product-grid li .pro-content p .red{color:#F40!important}
.new-product-block .product-grid li .pro-content .span-buys{color: #666}
.new-product-block .product-grid li .pro-content .span-buys .font-buys{color:#005aa0;font-weight: 700; font-family:verdana}
.new-product-block .product-grid li .pro-content .span-feeds{margin-left: 29px;color: #666}
.left{
float: left;
}
.right{
float: right;
}
.new-product-block .product-grid li .pro-link-block {
display: block;
clear: both;
padding:5px 0 10px;
height:20px
}
.new-product-block .product-grid li .pro-link-block .red{color: #d20000;font-size:20px;font-family:Arial}
.new-product-block .product-grid li .pro-link-block .red .money-icon{font-size:14px;margin-right: 5px;}

.new-product-block .product-grid li .pro-link-block .prices{color: #d20000;font-size:20px; font-weight:bold}
.new-product-block .product-grid li .pro-link-block a {
font-size: 12px;
padding-left: 22px;
color: #444;
-moz-transition: all 400ms ease-in-out 0s;
-ms-transition: all 400ms ease-in-out 0s;
}
.pro-link-block a:hover.add-wishlist{
color: #FE6732;
background-position: 0 -15px;
}
a.add-compare {
background: url(../images/listIcon.gif) no-repeat 0px -33px;
}


.guige{display: block;height: auto;overflow: hidden;}
.guige .dingzuo{display: block;height: auto;margin:2% 5%; overflow: hidden;font-size:14px;color: #f34a00; height:auto;line-height: 24px;}
.guige .h2-title{display: block;height:30;font-weight:normal; font-size: 1.2em;margin: 10px 0 0 0px; color: #666}
.guige .ge-ullist{display: block;height:auto;overflow: hidden;}
.guige .ge-ullist li{display: block;width: 100%;height:auto;overflow: hidden;padding: 0;margin-top: 5px;}
.guige .ge-ullist li .sp-title{display: block;width:60px;font-size:14px; float: left;height:auto;overflow: hidden; margin-top: 10px;}
.guige .dingzhiul li .sp-title{display: block;width:120px;font-size:14px; float: left;height:auto;overflow: hidden;}
.guige .ge-ullist li .sp-con{display: block;float: left; height:auto;overflow: hidden;}
.guige .ge-ullist li .sp-con a{display: block;float: left;color: #333; margin:5px;border: 1px solid #ddd;cursor: pointer;}
.guige .ge-ullist li .sp-con a img{display: block;}
.guige .ge-ullist li .sp-con a span.imgattlay{display: block;width: 50px;height: 50px;overflow: hidden;}
.guige .ge-ullist li .sp-con a span.txttitle{display: block;padding:5px 10px;font-size: 14px;}
.guige .ge-ullist li .sp-con a span.imgtxttitle{display: block;height:16px;text-align: center;}
.guige .ge-ullist li .sp-con a.seled{border:2px solid #d20000;background: url(../images/seled.png) no-repeat right bottom / 12px 16px;}
.guige .ge-ullist li .sp-con a.seled span.txttitle{padding:4px 9px;}
.guige .ge-ullist li .sp-con a.seled span.imgattlay{width: 48px;height: 48px;}
.guige .ge-ullist li .sp-con a:hover{border:2px solid #d20000;background: url(../images/seled.png) no-repeat right bottom / 12px 16px;}
.guige .ge-ullist li .sp-con a:hover span.txttitle{padding:4px 9px;}
.guige .ge-ullist li .sp-con a:hover span.imgattlay{width: 48px;height: 48px;}
.guige .dingzhiul li .dingzhi input{width:200px;height: 26px;line-height: 26px; border:1px solid #ccc;}
.guige .buygoodsnum{padding: 10px;border: 1px solid #ddd;height: auto;overflow: hidden; background: #f7f7f7;margin-top: 20px;}
.guige .buygoodsnum .sp-title{display: block;width:50px;float: left;height: auto;overflow: hidden;margin-left: 5%; margin-top: 5px; font-size:14px;}
.guige .buygoodsnum .change-inputnum{display: block;height: auto; overflow: hidden;float: left;}
.guige .buygoodsnum .change-inputnum .btn-left{display: block;float: left;width:35px;height:28px;margin-left:4px; background:url(../images/addpre.png) no-repeat left 0px;border: 1px solid #ddd;border-right: none;}
.guige .buygoodsnum .change-inputnum #gdsnum{display: block;float: left;width: 50px;border: 1px solid #ddd; height: 26px;line-height: 26px;font-family: 'Microsoft YaHei'; color: #333; text-align: center;}
.guige .buygoodsnum .change-inputnum .btn-right{display: block;float: left;width:35px;height:28px;border: 1px solid #ddd;border-left: none;background:url(../images/addpre.png) no-repeat right 0;}
.guige .buygoodsnum .change-inputnum .kucun{float: left;line-height: 26px;padding-left: 10px;}
.guige .buygoodsnum .btn-buy{display: block;width: auto;height: auto;overflow: hidden;background: none; margin-top: 20px;}
.guige .buygoodsnum .btn-buy a{display: block;font-size:20px;font-family: 'Microsoft Yahei'; background: #d20000;float: left; height:40px;margin-right:40px;width: 180px;color: #fff; text-align:center; line-height: 40px;}
.guige .buygoodsnum .btn-buy a.btn-addtucart{background: #ff7c07}
/* 页码 */
.page2 { font-size: 16px; text-align: center; height: 35px; line-height: 35px; overflow: hidden; padding: 30px 0; }

.page2 a { border: 1px solid lightGrey; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 8px 15px; margin: 0 3px; cursor: pointer; color: #919191; font-size: 16px; box-shadow: 0 1px 0 white inset, 0 1px 0px #DFDFDF; -webkit-box-shadow: 0 1px 0 white inset, 0 1px 0px #DFDFDF; -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #dfdfdf; text-decoration: none; background-color: #F2F2F2; }

.page2 a:hover { background: #f6f6f6; background: -moz-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e8e8e8)); background: -webkit-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%); background: -o-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%); background: -ms-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%); background: linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e8e8e8', GradientType=0 );

border: 1px solid #757575; }

.page2 span.current { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 8px 15px; background:#FF7E00 ; color: #fff; border:none }

h2.cargoodsmsg{color: #d20000}
#Z_TypeList .title:hover+.Z_MenuList,.Z_MenuList:hover{display: block;}
.Z_SubList:hover+.Z_MenuList,.Z_MenuList:hover{display: block;}